<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="CombatlogParser.Config" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
            <section name="CombatlogParser.src.Config" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <CombatlogParser.Config>
            <setting name="WoW_Log_Directories" serializeAs="String">
                <value>G:\Blizzard\World of Warcraft\_retail_\Logs</value>
            </setting>
            <setting name="Local_Log_Directory" serializeAs="String">
                <value>Imported_Logs/</value>
            </setting>
            <setting name="AppVersion" serializeAs="String">
                <value>0.1.0a</value>
            </setting>
        </CombatlogParser.Config>
        <CombatlogParser.src.Config>
            <setting name="WoW_Log_Directories" serializeAs="String">
                <value />
            </setting>
            <setting name="Local_Log_Directory" serializeAs="String">
                <value>/Imported_Logs/</value>
            </setting>
            <setting name="AppVersion" serializeAs="String">
                <value>0.1.0a</value>
            </setting>
        </CombatlogParser.src.Config>
    </userSettings>
</configuration>